body {
  background-color: #f1f1f1;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
}

#case {
  text-align: center;
  margin-top: 50px;
}

#case img {
  width: 300px;
}

#case button {
  font-size: 24px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

#case button:hover {
  background-color: #3e8e41;
}

#result {
  margin-top: 50px;
  text-align: center;
}

#resultText {
  font-size: 36px;
  font-weight: bold;
}
